*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 6rem;
  background-color: rgb(49, 49, 153);
}

main {
  min-height: calc(100vh - 6rem);
  background-color: rgb(48, 48, 102);
}

.container{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card{
  background-color: rgb(143, 143, 216);
  height: 320px;
  width: 200px;
  text-align: center;
  margin: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 100%;
  padding: 1rem;
}